
:root{
    --primary:#65647C;
    --secondary:#8B7E74;
    --tertiary:#C7BCA1;
    --quaternary:#F1D3B3;
}



body {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100vh;
}

.login{
  text-align: center;
  color: var(--quaternary);
}



.username {
  color: var(--quaternary);
}

.password {
  color: var(--quaternary);
}

.remember{
  color: var(--quaternary);
}

.flex-form-button{
  display: flex;
  justify-content: space-evenly;
  padding: 4% 15%;
  flex-wrap: wrap;
}

.btn{
  display: flex;
  background-color: var(--quaternary);
  border-color: var(--primary);
  width: 5em;
}



#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: var(--primary);
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}



